/* inverse  */

.inverse {
  background-color: #272822;
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
}

/* TITLE SLIDE */

.title-slide { /* dims of (1920 x 1279) AND (2206 x 2557) */
    background-image: url('../../assets/img/theme/logo.png'), url(../../assets/img/theme/title.jpg);
    background-size: 20%, cover;
    background-position: 1em 90%, top;
    padding: 1em;
}

/* title */

.title-slide h1.title {
    margin: 0;
}

/* author */

.title-slide .author {
    text-align: right;
    position: absolute;
    right: calc((20/35)*1em);
    bottom: 0;
    margin-bottom: 1em;
}

/* no number */

.title-slide .remark-slide-number {
    display: none;
}

/* topic icon  */

img.topic {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 20%;
}

/* series footer */

p.my-footer {
    background-color: #000;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 1.1em;
    width: 12em;
    padding: 0;
    margin: 0;
    z-index: 1;
}

p.my-footer span {
    font-size: 10pt;
    color: #fff;
    position: absolute;
    left: 20px;
    bottom: 2px;
    z-index: 1;
}

/* .title-slide .footnote {
    right: 0;
} */

/* .remark-slide-content {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
} */
