@import url('https://fonts.googleapis.com/css?family=Advent+Pro&display=swap');

.x100 {font-size: 100%;}
.x125 {font-size: 125%;}
.x150 {font-size: 150%;}
.x175 {font-size: 175%;}
.x200 {font-size: 200%;}
.x225 {font-size: 225%;}
.x250 {font-size: 250%;}
.x275 {font-size: 275%;}
.x300 {font-size: 300%;}

/* from ninjutsu.css */
.font_small {font-size: 0.5em;}
.font_medium {font-size: 1.25em;}
.font_large {font-size: 1.5em;}
.font1 {font-size: 1em;}
.font2 {font-size: 2em;}
.font3 {font-size: 3em;}
.font4 {font-size: 4em;}
.font5 {font-size: 5em;}

.advent-pro {
/* advent-pro-regular - latin */
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 400;
}
